.half-column {
  min-width: 50%;
}

.third-column {
  min-width: 33%;
}

.xs-width,
input[type=color] {
  width: 50px;
}

.s-width {
  width: 100px;
}

.ms-width {
  width: 150px;
}

.m-width {
  width: 200px;
}

.l-width {
  width: 300px;
}

.xl-width {
  width: 400px;
}

.xxl-width {
  width: 500px;
}

.menu button, .menu input, .menu textarea, .menu select {
    font-family: Roboto, sans-serif;
    border-radius: 5px;
    border: 2px solid #bbb;
    padding: 3px 5px;
}

.menu button:hover {
    background-color: #ddd;
}

.menu button:active, .tab-button.active {
    background-color: #ccc;
}

.hidden {
    display: none;
}

input[type=checkbox] {
    width: 18px;
    height: 18px;
}

#settingsSearch {
    width: 85%;
}

.partial-export-option-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.partial-export-option-wrapper label {
  display: grid;
  grid-template-columns: 200px 20px;
  align-items: center;
  text-align: center;
  margin-bottom: 8px;
}

.hidden-file-input {
    display: none;
}

.streamer-mode-wrapper {
    position: relative;
    display: inline-block;
}

.streamer-mode {
    position: absolute;
    inset: 0;
    background-color: white;
    transition: background-color 0.3s;
    color: black;
    border-radius: 6px;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 1
}

.streamer-mode:hover {
    background-color: #eee;
}

.streamer-mode:active {
    background-color: #ddd;
}