@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body {
    background-color: #1a1a20;
    font-family: Lato, Arial, Helvetica, sans-serif;
    color: #FFF;
    text-align: center;
}

.toplinks-container {
    background-color: #041c1b;
    border-radius: 10px;
    margin: 10px;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 0.1%;
    padding-right: 0.1%;
}

.toplink {
    text-decoration: underline;
    color: #d5d9eb;
}

.disqus-container {
    width: 99%;
    background-color: #041c1b;
    border-radius: 10px;
    margin: 10px;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 0.1%;
    padding-right: 0.1%;
}

.counter-links-container {
    background-color: #041c1b;
    border-radius: 10px;
    margin: 10px;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 0.1%;
    padding-right: 0.1%;
    display: flex;
}

.counter-links-category-container {
    width: 25%;
    background-color: #081426;
    border-radius: 10px;
    margin: 10px;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 0.1%;
    padding-right: 0.1%;
}

.counter-links-category-name {
    font-size: 2vw;
    padding-bottom: 5%;
}

.counter-links-category-links-container>a {
    color: #d5d9eb;
    text-decoration: none;
    background-color: blue;
    border-radius: 5px;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 1%;
    padding-right: 1%;
}