body {
    background-color: #1a1a20;
    font-family: Lato, Arial, Helvetica, sans-serif;
    color: #FFF;
}

a {
    color: #FFF;
    text-decoration: none;
}

h1 {
    background-color: #141414;
    border: solid #FFF;
    font-size: 2vw;
}

div {
    border: dashed #FFF 0.1vw;
    width: 100%;
}

.options {
    width: 100%;
    text-align: center;
    display: flex;
}

button {
    font-size: 2vw;
    width: 100%;
}

.title {
   font-size: 4vw; 
}