@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Roboto-Regular.ttf') format('truetype');
}

body {
  font-family: Arial;
  transition: color 2s;
  background-color: #141414;
  color: #000;
}

h2 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.num {
  font-family: 'Roboto', roboto;
  float: left;
  font-weight: 900;
  margin-right: 0.2vw;
  margin-left: 0.2vw;
  src: url('../../fonts/Roboto-Regular.ttf') format('truetype');
}

.card {
  height: 4.25vw;
  padding: 0.1vw;
  margin: 0.2vw;
  text-align: left;
  background: #141414;
  border: 0.1em solid #ffffff;
  transition: margin-top 500ms;
  position: relative;
  font-family: 'Roboto', sans-serif;
}

.image {
  height: 4.25vw;
  width: 4.25vw;
  float: left;
  border-radius: 50%;
  z-index: 10;
  border: solid 0.1em #000;
}

.count {
  transition: color 2s;
  font-size: 2vw;
  padding-left: 0.2vw;
  margin-top: 0;
  src: url('../../fonts/Roboto-Regular.ttf') format('truetype');
}

.name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 0.1vw;
  font-size: 1.5vw;
  src: url('../../fonts/Roboto-Regular.ttf') format('truetype');
}

.selected {
  background-color: #ccc;
  transition: color 2s;
  border: solid 1px red;
}

input,
select,
button {
  font-size: 0.75vw;
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
}

input {
  cursor: auto;
}

input[type=checkbox] {
  margin: 0.1em;
  cursor: pointer;
}

.subgap {
  float: right;
  font-size: 1.25vw;
}

#main {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.topSettings {
  margin-top: 0px;
  border: 1px dashed #000;
  border-bottom: none;
  display: flex;
  gap: 0.5em;
}

.userActions {
  margin-top: 0px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.middleBoringSettings {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.boringSettings {
  display: flex;
  gap: 2vw;
  flex-wrap: wrap;
  text-align: center;
}

.bold {
  font-weight: bold;
}

#apiLink {
  width: 50%;
}

.creds {
  width: 95%;
  height: 30%;
}

.apiExtraStuff {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 90%;
}

#stream {
  display: grid; grid-template-columns: repeat(4, 1fr); text-align: center;
}

textarea {
  width: 95%;
}

.discord {
  font-size: 1.5em;
}