.short-input {
    width: 6vw;
}

#settingsMenu {
    text-align: center;
    position: fixed;
    overflow: auto;
    z-index: 2;
    border: solid black;
    width: 25%;
    height: 100%;
    background-color: #ccc;
    padding: 5px;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

#settingsMenu::-webkit-scrollbar {
    display: none;
}

#saveCountButton {
    float: right;
    display: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
label {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    font-family: 'Roboto', sans-serif;
    font-size: 11pt;
}

body,
html {
    margin: 0px;
    padding: 0px;
    color: #232323;
    font-size: 11pt;
    font-family: 'Roboto', sans-serif;
    display: block;
}

html {
    color: #222;
    font-size: 9pt;
}

body {
    margin: 0px;
    padding: 0px;
    background: #e6e9ec;
}

p {
    margin: 0px;
    padding: 0px;
}

img {
    border: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0px;
}

a {
    color: #b3382c;
}

a:hover {
    color: #dd3333;
}

.notification-active {
    background: #dd6666 !important;
}

#top-menu-wrap {
    background: #b3382c;
    width: 100%;
    height: 35px;
    font-size: 10pt;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-transform: uppercase;
}

#top-menu-inner-wrap {
    width: 1260px;
    margin: 0px auto;
    height: 35px;
    color: #fff;
}

#top-menu {
    float: left;
    border-left: 1px solid #ae3428;
    border-right: 1px solid #bc3f33;
}

#top-menu-social {
    float: right;
    border-left: 1px solid #ae3428;
    border-right: 1px solid #bc3f33;
}

.top-menu-list {
    height: 35px;
    line-height: 35px;
    float: left;
    border-left: 1px solid #bc3f33;
    border-right: 1px solid #ae3428;
}

.top-menu-list a {
    padding: 0px 5px;
    display: block;
    color: #fff;
    text-decoration: none;
}

.top-menu-partner {
    height: 35px;
    line-height: 35px;
    float: left;
    border-left: 1px solid #bc3f33;
    border-right: 1px solid #ae3428;
}

.top-menu-partner:hover {
    height: 35px;
    line-height: 35px;
    float: left;
    border-left: 1px solid #bc3f33;
    border-right: 1px solid #ae3428;
}

.menu-cat {
    padding-left: 4px;
    font-size: 0.8em;
    color: #fff;
}

#top-menu-top-platform {
    left: 0px;
    position: absolute;
    width: 100%;
    margin-top: -1px;
    display: none;
    background: #383838;
    z-index: 999;
}

#top-menu-top-charts-inner {
    width: 1200px;
    margin: 0px auto;
    background: #383838;
    padding: 20px;
}

#SearchInput {
    height: 40px;
    margin: 5px 0px;
    width: 300px;
    padding: 0px 20px;
    border: 0px;
    background: #fff;
    color: #666;
    outline: none;
    float: left;
    position: absolute;
}


#footer-bottom-bar-wrap {
    width: 100%;
    height: 50px;
    background: #333333;
}

#footer-bottom-bar {
    width: 1260px;
    height: 30px;
    line-height: 30px;
    margin: 0px auto;
    padding: 10px 0px;
    background: #333333;
    color: #fff;
}

.float-right {
    float: right;
}

.highcharts-reset-zoom {
    transform: translate(786px, 0) !important;
}

input,
select {
    vertical-align: middle;
}

/* Mobile */
@media (max-device-width: 775px) {
    .index-full {
        min-width: 1260px;
    }
}

body {
    overflow: hidden;
}

/* CASINO MODE START */
.odometer.odometer-theme-slot-machine .odometer-digit .odometer-digit-spacer {
    vertical-align: baseline;
}

.page-realtime-body h5.odometer.odometer-theme-slot-machine {
    font-size: 5em;
}

.odometer.odometer-theme-slot-machine {
    background-image: none;
    background-color: transparent;
    border: none;
    -webkit-text-stroke: 0.02em #000;
}

/* CASINO MODE END */

/* DEFAULT MODE START */
.odometer.odometer-theme-minimal .odometer-digit {
    vertical-align: baseline;
}

/* DEFAULT MODE END */



div.page-title {
    background: #fff;
    padding: 10px;
}

div.containment {
    max-width: 1295px;
    margin: 0 auto;
}

div.containment.text-center {
    text-align: center;
}

div.page-title .containment h2 {
    display: inline-block;
    color: #413f3f;
    font-size: 1.75em;
    margin: 2rem 1.5rem;
}

div.page-title .containment h4 {
    display: inline;
    color: #787373;
    font-weight: 200;
}

div.page-title .containment i {
    float: right;
    margin: 1.25rem 1.5rem;
    font-size: 1.5em;
    padding: 0.50em;
}

div.page-title .containment i:hover {
    background: #eee;
    border-radius: 10px;
    transition: ease-all 1s;
    cursor: pointer;
}

div.page-title .containment i::after {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    margin-left: 10px;
    font-size: 0.75em;
    vertical-align: 10%;
}

div.page-title .containment i.fa-users::after {
    content: "Change Users";
}

div.page-title .containment i.fa-cogs::after {
    content: "Settings";
}

div.share {
    position: absolute;
    font-size: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    text-align: center;
    /*z-index: 1;*/
}

div.share .left {
    float: left;
    margin-left: 15px;
}

div.share .right {
    float: right;
    margin-right: 15px;
}

div.share a {
    padding: .5rem 1rem;
    background: red;
    font-size: 12px;
    color: #fff;
    text-decoration: none;
    text-align: center;
    font-weight: 100;
    border-radius: 3px;
    margin: 0 .5rem;
    z-index: 1;
}

div.share a.twitter {
    background: #1DA1F2;
}

div.share a.twitter:hover {
    background: #2fa8f2;
}

div.share a.facebook {
    background: #3b5998;
}

div.share a.facebook:hover {
    background: #516898;
}

div.share a.return {
    background: #dd3333;
}

div.share a.return:hover {
    background: #b3382c;
}

div.page-realtime-body {
    padding: 20px;
    background: #eee;
    height: calc(100vh - 40px - 250px);
    width: 100vw;
    /*position: relative;*/
}

div.page-realtime-body .containment {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, calc(-50% - 75px));
    width: 100%;
}

div.page-realtime-body .containment:after {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.075;
    background-image: url('./Socialblade.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 558px 306px;
    z-index: -1;
}

.page-realtime-body-containment {
    display: block;
}

.page-realtime-body-containment .meta {
    display: inline-block;
}

.page-realtime-body-containment .meta img {
    height: 5em;
    width: 5em;
    border: 1px solid #333;
    margin-top: 15px;
    margin-right: 15px;
    display: inline-block;
}

.page-realtime-body-containment .meta a span:nth-last-child(1) {
    display: none;
}

.page-realtime-body-containment .meta a span {
    display: block;
    position: absolute;
    z-index: 2;
    color: #fefefe;
    background-color: #333;
    height: 24px;
    line-height: 24px;
    width: 75.33px;
    font-size: 12px;
    margin-top: -6px;
}

.page-realtime-body-containment .meta-youtube a span {
    background-color: #e62117;
}

.page-realtime-body-containment .meta-twitch a span {
    background-color: #7a31b3;
}

.page-realtime-body-containment .meta-instagram a span {
    background-color: #9a7a62;
}

.page-realtime-body-containment .meta-twitter a span {
    background-color: #317db3;
}

.page-realtime-body-containment .meta-tiktok a span {
    background-color: #ff4c74;
}

.page-realtime-body-containment .meta-youtube img {
    border: 1px solid #e62117;
}

.page-realtime-body-containment .meta-twitter img {
    border: 1px solid #317db3;
}

.page-realtime-body-containment .meta-twitch img {
    border: 1px solid #7a31b3;
}

.page-realtime-body-containment .meta-instagram img {
    border: 1px solid #9a7a62;
}

.page-realtime-body-containment .meta-tiktok img {
    border: 1px solid #ff4c74;
}

.page-realtime-body-containment .meta a span:hover {
    background-color: #cc181e;
}

.page-realtime-body-containment .meta-youtube a span:hover {
    background-color: #cc181e;
}

.page-realtime-body-containment .meta-twitter a span:hover {
    background-color: #3a8cc7;
}

.page-realtime-body-containment .meta-twitch a span:hover {
    background-color: #7c3ac7;
}

.page-realtime-body-containment .meta-instagram a span:hover {
    background-color: #b2927b;
}

.page-realtime-body-containment .meta-tiktok a span:hover {
    background-color: #d33f5f;
}


.page-realtime-body-containment h3#userName {
    color: #333;
    font-size: 3em;
    display: inline;
    cursor: pointer;
    width: 100vw;
}

.realtime-username-youtube {
    position: relative;
}

.platform-icon {
    position: absolute;
    top: -10.5px;
    margin-left: 8px;
    height: 1.6em;
    display: inline;
}

.realtime-username-youtube {
    color: #b3382c !important;
}

.realtime-username-twitter {
    color: #b3382c !important;
}

.realtime-username-twitch {
    color: #b3382c !important;
}

.realtime-username-instagram {
    color: #b3382c !important;
}

.realtime-username-tiktok {
    color: #ff4c74 !important;
}

.page-realtime-body h5.odometer {
    margin-top: 20px;
    font-size: 7em;
}

.page-realtime-body p.realtime-watermark {
    opacity: .4;
    font-weight: 100;
}

.page-realtime-chart {
    position: absolute;
    bottom: 130px;
    margin: -20px;
    width: 100vw;
}

.page-realtime-chart #chart {
    height: calc(50vh - 300px);
}

.page-realtime-chart #chart .highcharts-container .highcharts-grid {
    display: none;
}

.odometer.odometer-auto-theme .odometer-digit,
.odometer.odometer-theme-minimal .odometer-digit {
    vertical-align: top;
}

#top-header-wrap+div {
    padding-top: 6px;
}

/* .top-menu-category-toplists,
#top-menu .top-menu-list:nth-last-child(1),
#top-menu .top-menu-list:nth-last-child(2),
#top-menu .top-menu-list:nth-last-child(3),
#top-menu .top-menu-list:nth-last-child(4)
{ display: none; } */

#footer-bottom-bar-wrap {
    position: absolute;
    bottom: -1px;
}

.float-right {
    float: left;
}

@media (max-width:1800px) {
    .page-realtime-body-containment h3#userName {
        font-size: 2em !important;
        text-overflow: ellipsis;
    }

    div.share {
        z-index: 1;
    }

    div.page-realtime-body .containment:after {
        background-size: 465px 230px;
    }

    @media (min-width:1199px) {
        .page-realtime-chart #chart {
            height: calc(50vh - 200px);
        }

        .page-realtime-chart {
            bottom: 120px;
        }

        div.page-title .containment h2,
        div.page-title .containment i {
            font-size: 1.5em;
        }

        div.page-title .containment h4 {
            font-size: 0.8em;
        }

        div.page-title {
            padding: 10px;
        }

        div.share a {
            font-size: 12px;
            padding: .5rem 1rem;
        }
    }

    .page-realtime-body h5.odometer {
        font-size: 7em;
    }

    .page-realtime-body-containment .meta img {
        height: 3em;
        width: 3em;
    }

    .page-realtime-body-containment .meta a span:nth-child(1) {
        display: none;
    }

    .page-realtime-body-containment .meta a span:nth-last-child(1) {
        display: block;
        width: calc(33pt + 1.2px);
        height: 17px;
        line-height: 17px;
    }
}

@media (max-width:951px) {
    div.page-title .containment i.fa-users {
        display: none;
    }
}

@media (max-height: 850px) {
    div.page-title {
        padding: 0 10px;
    }

    #top-header-wrap {
        display: none;
    }

    div.page-title .containment h2,
    div.page-title .containment i {
        font-size: 1em;
    }

    div.page-realtime-body .containment {
        top: 62%;
    }

    div.page-realtime-body h5.odometer {
        font-size: 6em;
    }

    div.share a {
        font-size: 12px;
        padding: .5rem 1rem;
    }

    #footer-bottom-bar-wrap * {
        font-size: .80em;
    }

    #footer-bottom-bar-wrap {
        height: 30px;
    }

    #footer-bottom-bar {
        height: 10px;
        line-height: 10px;
    }

    #footer-bar-wrap {
        display: none;
    }

    .page-realtime-chart {
        bottom: 35px;
    }

    .page-realtime-chart #chart {
        height: calc(50vh - 130px);
    }

    div.share a {
        font-size: 10px;
    }

    .global-notification {
        display: none !important;
    }

    .dd-select {
        height: 30px !important;
        margin-top: -3px;
    }

    .dd-selected-text {
        margin-top: -6px;
    }

    .dd-selected-image {
        margin-top: -1px;
    }

    #SearchInput {
        height: 29px;
        margin-top: 2px;
    }

    .search-button {
        height: 29px;
        line-height: 29px;
        margin-top: 1px;
    }

    img[src="/images/header-logo.png?version=2"] {
        height: 45px;
        margin-top: -3px !important;
    }

    #main-menu-container,
    #main-menu-container div[style='width: 233px; height: 60px; margin: 0px; float: left; background: #2f2c2c; '],
    #main-menu-container div[style='width: 1027px; height: 60px; margin: 0px; float: left; background: #2f2c2c;'],
    #top-header-wrap+div {
        height: 45px !important;
    }

    .top-menu-list,
    .top-partner-link {
        font-size: 0.80em;
    }

    .top-menu-list a {
        padding: 0 20px;
    }

    .top-menu-list:nth-child(1) a,
    .top-menu-list:nth-child(2) a {
        padding: 0 10px !important;
    }
}

@media (max-height: 600px) {
    #bottomAd {
        display: block;
        z-index: 0 !important;
        position: inherit !important;
        width: auto !important;
        margin: 0 auto;
    }

    #bottomAd>div {
        position: inherit !important;
        top: 152px;
        right: 0 !important;
        left: 0;
    }

    .page-realtime-chart {
        display: none;
    }

    div.page-realtime-body {
        height: 100%;
    }

    div.page-realtime-body .containment {
        position: inherit;
        transform: none;
        left: 0;
        top: inherit;
    }

    body {
        overflow-y: scroll;
    }

    #footer-bottom-bar-wrap {
        position: static;
    }
}

@media (max-width:1200px) and (min-height: 950px) {


    #top-header-wrap {
        display: none;
    }

    div.page-realtime-body .containment {
        width: auto;
    }

    .page-realtime-body h5.odometer {
        font-size: 9em;
    }

    .page-realtime-body-containment .meta img {
        height: 5em;
        width: 5em;
    }

    .page-realtime-body-containment .meta a span:nth-last-child(1) {
        display: none !important;
    }

    .page-realtime-body-containment .meta a span:nth-child(1) {
        display: inline-block !important;
    }

    #top-menu-inner-wrap,
    #main-menu-container,
    #footer-bar-wrap div,
    #footer-bottom-bar {
        width: 820px !important;
    }

    #main-menu-container div[style="width: 1027px; height: 60px; margin: 0px; float: left; background: #2f2c2c;"] {
        width: 575px !important;
    }

    h3#userName {
        display: block !important;
    }

    .page-realtime-body-containment .meta img {
        margin-right: 0 !important;
        height: 10em;
        width: 10em;
        margin-bottom: 20px;
    }

    .page-realtime-body-containment .meta a span {
        display: inline-block;
        height: 30px;
        line-height: 30px;
        width: 7.5em;
        font-size: 20px;
        margin: 0 auto;
        margin-left: -75px;
        margin-top: -26px;
    }

    div.page-realtime-body .containment {
        top: 50%;
    }

    div.page-realtime-body .containment:after {
        height: 114.21%
    }

    .page-realtime-body-containment h3#userName {
        font-size: 5em !important;
    }

    div.page-title .containment i::after {
        content: "" !important;
    }

    .containment h4 {
        display: none !important;
    }
}

label,
p,
strong {
    color: #000000;
}