@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body {
    background-color: #1a1a20;
    font-family: Lato, Arial, Helvetica, sans-serif;
    color: white;
    padding-left: 5px;
    padding-top: 5px;
    text-align: center;
}

button {
    font-family: Lato, Arial, Helvetica, sans-serif
}

.title {
    background-color: #141414;
    border: solid #FFF;
    font-size: 2em;
}

a {
    color: #4babdb
}

div, .left {
    text-align: left
}

.add {
    color: lightgreen;
}

.remove {
    color: lightcoral;
}

.group-header {
    text-align: left;
}