:root {
    --text-color: #000000;
    --bg-color: #d0e4fe;
    --sub-button-color: #00aaff;
    --avatar-border-color: #0088ff;
    --sub-button-text-color: #ffffff;
    --footer-color: #224466;
}

body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--text-color);
    background-color: var(--bg-color);
}

.lcnet-item {
    left: 0;
    right: 0;
    margin: 0 auto;
    position: absolute;
}

#lcnet-title {
    padding-top: 8px;
    font-size: 4.5vw;
    margin: 0 auto;
    font-weight: bold;
}

#lcnet-byline {
    top: 9.5%;
    font-size: 2.5vw;
    font-weight: bold;
}

#lcnet-subscribe-button {
    appearance: none;
    background-color: var(--sub-button-color);
    border: none;
    border-radius: 2px;
    color: var(--sub-button-text-color);
    padding: 1%;
    width: 15%;
    font-size: 2.5vw;
    display: block;
    top: 28%;
    line-height: normal;
}

#lcnet-avatar {
    width: 10vw;
    height: 10vw;
    bottom: 73%;
    border-radius: 17.5%;
    border: 1px solid var(--avatar-border-color);
}

#lcnet-name-container {
    font-size: 3vw;
    top: 34.5%;
}

#lcnet-count-container {
    font-size: 15.5vw;
    top: 38%;
    line-height: 1.1em;
}

#lcnet-small-count-container {
    top: 66.5%;
    width: 40%;
}

#lcnet-small-count {
    font-size: 4.5vw;
    line-height: 1.1em;
}

#lcnet-small-text {
    font-size: 2.5vw;
}

#lcnet-update-text-container {
    bottom: 7%;
    font-size: 3vw;
}

#lcnet-footer {
    bottom: 0px;
    height: 40px;
    width: 100%;
    background-color: var(--footer-color);
    color: #ffffff;
    line-height: 40px;
}

.fa.fa-bars {
    position: absolute;
    font-size: 25px;
    width: 25px;
    height: 25px;
    right: 10px;
    top: 0px;
    bottom: 0px;
    margin: auto;
}

@media only screen and (min-aspect-ratio: 6 / 5) {
    #lcnet-byline {
        top: 12.5%;
    }
    #lcnet-subscribe-button {
        top: 19.5%;
    }
    #lcnet-avatar {
        display: none;
    }
    #lcnet-name-container {
        top: 27%;
    }
    #lcnet-count-container {
        top: 33%;
    }

}

@media only screen and (min-aspect-ratio: 5 / 3) {
    #lcnet-title, #lcnet-byline {
        display: none;
    }
    #lcnet-name-container {
        top: 25%;
    }
    #lcnet-subscribe-button {
        top: 13.5%;
    }
    #lcnet-small-count-container {
        display: none;
    }
    #lcnet-update-text-container {
        display: none;
    }
}

@media only screen and (max-height: 800px) {
    #lcnet-update-text-container {
        bottom: 9%;
    }
}

.tabs {
    float: left;
    height: 100%;
    border-radius: 15px;
}

.tab-link {
    display: block;
    padding: 11px 8px;
    width: 100%;
    border-radius: 15px;
    transition: background-color .3s;
}

.tab-stuff {
    float: left;
}

.tab-content {
    float: left;
    padding: 0px 12px;
    text-align: center;
    width: auto;
    height: 100%;
}

input[type=color] {
    margin: 0 auto;
}

.tabs button.active {
    background-color: #aaaaaa;
}

.modal-dialog {
    max-width: fit-content;
}

#import-data-v7 {
    display: none;
}

#manual-input {
    float: left;
    position: absolute;
    line-height: normal;
    top: 50%;
    transform: translateY(-50%);
}